<div class="col-lg-6 col-sm-12 left">
  <h3>Posts list : </h3>
  <ul>
    <li ng-repeat="post in plist.list track by $index" max-width="200px;">
      <a ui-sref="detailPost({postId: post.id})">{{post.title}}</a>
      <div max-width="300px;">{{post.body}}...</div>
    </li>
  </ul>
</div>
<div class="col-lg-6 col-sm-12 right">
  Add post : <button ng-click="postAdd = !postAdd;" class="btn btn-default btn-sm">+</button>
<div ng-if="postAdd">
  <form name="postAddForm" novalidate>
  <table>
    <tr>
      <td>
        Titre :
      </td>
      <td>
        <input type="text" name="title" ng-model="plist.p.title" style="width:300px;" ng-required="true" ng-minlength="10">
      <p ng-show="postAddForm.title.$invalid && !postAddForm.title.$pristine" class="help-block">title is required and must be > 10 chars</p>
      </td>
    </tr>
    <tr>
      <td>
        Description :
      </td>
      <td>
        <textarea name="body" ng-model="plist.p.body" style="width: 500px; height: 150px;" ng-maxlength="200" ng-minlength="10">
        </textarea>
        <p ng-show="postAddForm.body.$invalid && !postAddForm.body.$pristine" class="help-block">body must be > 10 and < 200 chars</p>
      </td>
    </tr>
  </table>
  <br><button ng-click="plist.addPost(postAddForm)" class="btn btn-default btn-sm">Insert</button>
  </form>
  <div ng-if="plist.response" class="alert alert-success">{{plist.response}}</div>
</div>
</div>

